@namespace Sass
<ContentSlide Title="Sass Tips">
    <Content>
        <ul>
            <li>Use Sass modules and orgainze your code by feature or component.</li>
            <li>Look at this project or Bootstrap for examples on orgaizing files.</li>
            <li>When using Node tooling, install the <a href="https://marketplace.visualstudio.com/items?itemName=MadsKristensen.NpmTaskRunner64" class="secondary-darker">Task Runner Explorer</a> extension for Visual Studio.</li>
        </ul>
    </Content>
    <Aside>
        <div>
            <img src="./img/sass-files.png" class="responsive" />
            <p>Sass files by component.</p>
            <img src="./img/npm-task-runner.png" class="responsive" />
            <p>Task Runner Explorer in Visual Studio</p>
        </div>
    </Aside>
</ContentSlide>