@namespace Isolation

<ContentSlide Title="What is Blazor CSS Isolation">
    <Content>
        <ul>
            <li>
                Isolate CSS styles to individual pages, views, and components to reduce or avoid:
                <ul>
                    <li>
                        Dependencies on global styles that can be challenging to maintain.
                    </li>
                    <li>
                        Style conflicts in nested content.
                    </li>
                </ul>
            </li>
        </ul>
    </Content>
    <Aside>
        <BubbleWrap>
            <Bubble Size="13"/>
            <Bubble Size="21" 
                BackgroundColor="var(--secondary-color)"
                Color="var(--primary-color-darker)"/>
            <Bubble Size="34" 
                BackgroundColor="var(--secondary-color-darker)"
                Color="var(--primary-color-darker)"/>
            <Bubble Size="55" 
                BackgroundColor="var(--primary-color)"
                Color="var(--secondary-color-darker)"/>
        </BubbleWrap>
    </Aside>
</ContentSlide>