@inherits LayoutComponentBase
@inject HighlightService highlightJs

<ThemeContainer Theme="@selectedTheme">
    <div>
        @Body
        <ThemeChooser @bind-Theme="@selectedTheme" />
    </div>
</ThemeContainer>

@code {
    string? selectedTheme;

    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            highlightJs.SetStyleAsync("https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/styles/base16/gruvbox-dark-medium.min.css");
            StateHasChanged();
        }
        return base.OnAfterRenderAsync(firstRender);
    }
    void OnChange(string e) => selectedTheme = e;
}