button {
    --button-hover-text-color: var(--primary-contrast-color);
    --button-hover-bg-color: var(--primary-contrast-color);
    color: var(--button-text-color, var(--primary-color-darker));
    background-color: transparent;
    border: 2px solid var(--button-border-color, var(--primary-color-darker));
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    padding-block: 1em;
    padding-inline: 3em;
    cursor: pointer;
    display: inline-block;
    transition-duration: 0.4s;
}
    button:hover {
        --button-hover-bg-color: var(--primary-color-darker);
        color: var(--button-hover-text-color);
        background-color: var(--button-hover-bg-color);
    }

button.danger {
    --button-border-color: var(--danger-color);
    --button-hover-bg-color: var(--danger-color);
}

button.warning {
    --button-hover-bg-color: var(--warning-color);
    --button-border-color: var(--warning-color);
}

button.info {
    --button-hover-bg-color: var(--info-color);
    --button-border-color: var(--info-color);
}

button.success {
    --button-hover-bg-color: var(--success-color);
    --button-border-color: var(--success-color);
}