<footer>
    <label>Theme</label>
    <select name="themes" id="themes" @onchange="HandleChange">
        <option value="default">Default</option>
        <option value="dark">Dark</option>
        <option value="high">High Contrast</option>
    </select>
</footer>

@code {

    [Parameter]
    public EventCallback<string> ThemeChanged { get; set; }

    [Parameter]
    public string? Theme { get; set; }

    void HandleChange(ChangeEventArgs e) =>
        ThemeChanged.InvokeAsync(
            Themes.ThemeChoices[e?.Value?.ToString() ?? "default"]
            .Build()
        );
}