@namespace Frameworks
<ContentSlide Title="Telerik UI for Blazor Themes">
    <Content>
        <ul>
            <li>Telerik UI for Blazor is a component library with 100 components</li>
            <li>Themes are Sass based although Sass is not required for customization</li>
            <li>Components can be themed individualy though properties or CSS</li>
            <li>Global customization with Sass</li>
        </ul>
    </Content>
    <Aside>
<iframe width="100%" height="500px" src="https://blazorrepl.telerik.com/repl/embed/wmagOqcG51psKA2j59?editor=true&result=true&errorList=false"></iframe>
    </Aside>
</ContentSlide>