@namespace Frameworks
<ContentSlide Title="Let's Discuss Tailwind" AsideBottom="true">
    <Content>
        <ul>
            <li>Free & Comercial</li>
            <li>$ Components (JavaScript) | $ Templates</li>
            <li>DSL Abstraction model: CSS in HTML</li>
            <li>Build System: Custom CLI or PostCSS, <a class="secondary-darker" href="https://tailwindcss.com/docs/configuration">JavaScript Customization</a></li>
        </ul>
    </Content>
    <Aside>
        <CodeHighlight CodeLanguage="html">
            &lt;div class="h-64"&gt;
                &lt;div class="p-4 m-4 bg-green-600"&gt;
                    &lt;h1 class="text-2xl font-bold text-white"&gt;Tailwind CSS Demo&lt;/h1&gt;
                &lt;/div&gt;
                &lt;div class="p-4 m-4 bg-green-300 h-full"&gt;
                    &lt;h2 class="text-green-900"&gt;This example is using Tailwind CSS&lt;/h2&gt;
                &lt;/div&gt;
            &lt;/div&gt;
        </CodeHighlight>
    </Aside>
</ContentSlide>