@page "/agenda"
@using PresentationWeb.Layouts.Agenda;
<AgendaSlide>
    <AgendaItem Number="1" Topic="Sass">
        <ol>
            <li>What is Sass</li>
            <li>When should I use Sass</li>
            <li>Using Sass without JavaScript tooling (kinda)</li>
            <li>Tips &amp; Tricks</li>
        </ol>
    </AgendaItem>
    <AgendaItem Number="2" Topic="CSS Isolation">
        <ol>
            <li>What is CSS Isolation</li>
            <li>How does CSS Isolation work in Blazor</li>
            <li>When should I use it?</li>
        </ol>
    </AgendaItem>
    <AgendaItem Number="3" Topic="Scope">
        <ol>
            <li>
                Working with Blazor parameters
            </li>
            <li>
                What are CSS custom properties basics
            </li>
            <li>
                How to control scope with CSS
            </li>
        </ol>
    </AgendaItem>
    <AgendaItem Number="4" Topic="Frameworks">
        <ol>
            <li>
                When to use Tailwind or Bootstrap in our applications
            </li>
            <li>
                Dependencies, tooling and abstractions
            </li>
            <li>
                Component Libraries
            </li>
        </ol>
    </AgendaItem>
</AgendaSlide>