<ContentSlide Title="Resources">
    <Content>
        <ul>
            <li><a class="secondary-darker" href="https://EdCharbeneau.com">EdCharbeneau.com</a></li>
            <li><a class="secondary-darker" href="https://Twitch.tv/CodeItLive">Twitch.tv/CodeItLive</a></li>
            <li><a class="secondary-darker" href="https://Telerik.com">Telerik.com</a></li>
        </ul>
    </Content>
    <Aside>
        <img class="img-responsive avatar" src="./img/edcharbeneau.jpg" />
        <p>
            Ed is a Microsoft MVP and an international speaker, writer, online influencer, a Pr. Developer Advocate for Progress, and expert on all things web development.
        </p>
    </Aside>
</ContentSlide>